@import '../node_modules/modern-normalize/modern-normalize.css';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Fira Code',
    system-ui, 
    -apple-system, 
    /* Firefox supports this but not yet `system-ui` */ 'Segoe UI', 
    Roboto, 
    Helvetica, 
    Arial, 
    sans-serif, 
    'Apple Color Emoji', 
    'Segoe UI Emoji';
}

html {
  --gutter-x: 8px;
  --white: #FFF;
  --darker-gray: #0E0E0F;
  --dark-gray: #131517;
  --medium-gray: #26292D;
  --gray: #626262;
  --blue: #17FFc6;
  --dark-blue: #0138F7;
  --blue-gradient: linear-gradient(45deg, var(--blue), var(--dark-blue));
}

@media (min-width: 576px) {
  html {
    --gutter-x: 16px;
  }
}
