@import '../node_modules/modern-normalize/modern-normalize.css';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

html {
  --white: #FFF;
  --darker-gray: #0E0E0F;
  --dark-gray: #131517;
  --medium-gray: #26292D;
  --gray: #626262;
  --blue: #018ABE;
  --dark-blue: #3C40AE;
  --blue-gradient: linear-gradient(245deg, var(--blue) 20%, var(--dark-blue) 80%);
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Montserrat,system-ui, -apple-system, /* Firefox supports this but not yet `system-ui` */ 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}
