@import '../node_modules/modern-normalize/modern-normalize.css';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Fira Code',
    system-ui, 
    -apple-system, 
    /* Firefox supports this but not yet `system-ui` */ 'Segoe UI', 
    Roboto, 
    Helvetica, 
    Arial, 
    sans-serif, 
    'Apple Color Emoji', 
    'Segoe UI Emoji';
}
